/* Enter your custom styles here */

.imgLinkedin {
    width: 30px;
    height: 30px;
}
 /*
.imgProfile {
   width : 200px;
	 height : 200px;
	
}*/ 
.sapUiMedia-Std-Desktop .sapUxAPObjectPageHeaderContentImageContainer .sapMImg, .sapUiMedia-Std-Tablet .sapUxAPObjectPageHeaderContentImageContainer .sapMImg,html.sapUiContainer-Medium .sapUxAPObjectPageHeaderContentImageContainer .sapMImg{
    height: 15rem;
    width: auto;
}

